button {
    background-color: #DA0175;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
    margin-top: 5rem;
    padding: 1.5rem;
    width: 100%;
}

button:hover {
    background-color: #f1399c;
    cursor: pointer;
    transition: 0.5s all
}

.cardSignIn {
    background-color: rgba(68, 68, 77, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 47.5rem;
    width: 49.4rem;
}

.center {
    justify-content: center;
}

.formCubos {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 55%;
}

.formCubos input {
    all: unset;
    background-color: rgba(46, 46, 54, 1);
    border: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
    width: 100%;
}

.formCubos input::placeholder {
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.formCubos span,
a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}