@media (min-width: 250px) and (max-width: 500px) {
    .cardSignIn {
        width: 90%;
    }
}

@media (min-width: 501px) and (max-width: 1220px) {

    .cardSignIn {
        width: 65%;
    }

    .cardDetail {
        width: 50%;
    }

}

@media (max-width: 500px) {
    .cardDetail {
        width: 90%;
    }
}